<div class="container"> 
    <header class="header header-contacts">
      <nav class="breadcrumb">
          <ol class="breadcrumb_items">
              <li class="breadcrumb__item"><a href="#"><img src="../Home.png" alt="home"></a></li>
              <li class="breadcrumb__item">Контакти</li>
          </ol>
      </nav>
    </header>
    <section class="suppliers">
        <div class="suppliers__main--left">
        <h1 class="suppliers__title">{{info.suppliersMain.title}}</h1>
        <div [innerHTML]="info.suppliersMain.details"></div>
        <div class="suppliers__items">
          <button class="suppliers__item" *ngFor="let action of info.suppliersMain.actions" [ngClass]="{'button--background-black': !action.link, 'button--background-DBDBF2': action.link}" [routerLink]="action.link">{{action.title}}</button>
        </div>
      </div>
      <div class="suppliers__main--right">
          <img class="suppliers__img" [src]="info.suppliersMain.img" alt="suppliersMain__logo">
      </div>
    </section>
    <section class="howWeBuy">
      <div class="howWeBuy__item--first">
        <img class="howWeBuy__img--mini" [src]="info.howWeBuy.img" alt="logo-shop">
        <h1 class="howWeBuy__title">{{info.howWeBuy.title}}</h1>
      </div>
      <div class="howWeBuy__item" *ngFor="let content of info.howWeBuy.content">
        <img class="howWeBuy__img" [src]="content.img" alt="content__logo">
        <div class="howWeBuy__text">
          <h2>{{content.title}}</h2>
          <p>{{content.details}}</p>
          <div class="howWeBuy__buttons">
            <button class="howWeBuy__button" *ngFor="let action of content.actions" [ngClass]="{'button--background-black': !action.link, 'button--background-DBDBF2': action.link}"  [routerLink]="action.link">{{action.title}} <span class="howWeBuy__arrow" *ngIf="content.position == '2'">></span></button>
          </div>
        </div>
      </div>
    </section>
  
    <section class="main" >
      <div class="main__tender-procedures">
        <div class="main__tender-procedures--top">
          <div class="main__tender-procedures--top-left">
            <img class="main__img--top" [src]="info.tenderProcedures.img" alt="">
            <h1 class="main__title">{{info.tenderProcedures.title}}</h1>
          </div>
          <div class="main__tender-procedures--top-right" [innerHTML]="info.tenderProcedures.description"></div>
        </div>
        <div class="main__tender-procedures--bottom">
        <div class="main__tender-procedures__item" *ngFor="let content of info.tenderProcedures.content" [ngClass]="{'content--blue': content.position == '1', 'content--green': content.position == '2', 'content--purple': content.position == '3'}">
            <h2>{{content.title}}</h2>
            <div [innerHTML]="content.details"></div>
        </div>
      </div>
  
      <div class="main__whatWeBuy">
        <div class="main__text--left">
            <h1 class="main__title--white">{{info.whatWeBuy.title}}</h1>
            <div [innerHTML]="info.whatWeBuy.description"></div>
        </div>
        <div  class="main__items--right">
          <div class="main__item" *ngFor="let content of filterWWBParent">
            <div>
              <a class=" link" [href]="action.link" *ngFor="let action of content.actions">{{content.title}}</a>
              </div>
            </div>
            <button class="main__button" (click)="showMore()">Ще</button>
          </div>
        </div>
      </div>
    </section>
</div>