@import "../../../../styles/extends";

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.link {
    color: color(primary);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}



.public-procurement {
    display: flex;
    gap: 4px;
    &__text {
        display: $default-display;
        flex-direction: row;
        justify-content: space-between;
    }

    &__items {
        display: $default-display;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
        width: 100%;
    }

    &__item {
        @extend %sections;
        align-items: flex-start;
        background-color: $background-color-sections;
        padding: 24px 18px 72px 24px;
        flex: 1 1 33%;
        min-width: 33%;
        max-width: 100%;
        gap: 16px;
        cursor: pointer;
    }
    &__ids {
        display: $default-display;
        flex-direction: row;
        gap: 12px;
        font-size: 0.75rem;
    }
    &__alias {
        background-color: #28285E;
        color: white;
        padding: 4px 12px 4px 12px;
        border-radius: 10px;
        font-size: 0.75rem;
    }
    &__id-number {
        background-color: #C3DB57;
        padding: 4px 12px 4px 12px;
        border-radius: 10px;
        font-size: 0.75rem;
    }
}

@media (max-width:$layout-breakpoint-medium) {
.public-procurement {
    &__items {
        flex-direction: column;
    }
}
}