@import 'mixins.scss';

$font-family: "Nunito Sans", sans-serif;
$default-display: flex;
$background-color-sections: #ffff;
$font-size-title:3.5rem;
$layout-breakpoint-small:600px;
$layout-breakpoint-medium: 1200px;

%body {
    background-color: background-color(main);
    font-family: $font-family;
    min-width: 100%;
    max-width: 100%;
    display: $default-display;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    gap: 5px;
}

%header-list {
    color: color(primary);
    list-style: none;

    display: $default-display;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

%sections {
    background-color: $background-color-sections;
    border-radius: 20px;
    

    display: $default-display;
    flex-direction: column;
    align-items: center;
}

%button {
    color: white;
    font-size: 0.79rem;
    background-color: color(primary);
    white-space: nowrap;
    border: none;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
    display: $default-display;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    overflow: hidden;   
}

@media (max-width:$layout-breakpoint-medium) {
    %sections {
        padding: 29px 32px;
    }

}