@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


$background-color-body: #ECECEC;
$font-family: "Nunito Sans", sans-serif;
$default-color: #000000;
$default-display: flex;
$background-color-sections: #ffff;
$font-size-title:3.5rem;


%header-list {
    color: $default-color;
    list-style: none;

    display: $default-display;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

%sections {
    background-color: $background-color-sections;
    max-width: 94%;
    min-width: 94%;
    border-radius: 20px;

    display: $default-display;
    flex-direction: column;
    align-items: center;
}

%additional-blocks {
    background-color: $background-color-sections;
    padding: 6% 5% 4% 4%;
    width: 49.8%;
    gap: 10%;
    border-radius: 20px;
    display: $default-display;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: $background-color-body;
    color: $default-color;
    font-family: $font-family;
    display: $default-display;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin: 0;
    gap: 5px;
}

.header {
    @extend %sections;

    align-items: start;
    background:none;
}

.link {
    color: $default-color;
}

.breadcrumb {
    display: $default-display;
    align-items: center;
    padding-left: 5%;
    font-weight: 400;
    font-size: 0.8rem;
    &_items{
        @extend %header-list;
    }
    &__item {
        img{
            width: 16px;
            height: 16px;
        }
    }
    &__item::after {
        content: "/";
        margin: 0px 10px 0px 10px;
    }

    &__item:last-child::after {
        content: "";
    }
}

.contact {
    @extend %sections;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 11% 0% 3%;

    &__title {
        font-size: $font-size-title;
    }

    .contact-content {
        width: 50%;
        
    }
     .contact__top {
        display: $default-display;
        flex-direction: column;
        gap: 20px
    }

    &__items {
        display: $default-display;
        padding-top: 30px;
        gap: 20px;
    }

    &__item {
        color: white;
        background-color: $default-color;
        padding: 12px 12px 12px 12px;
        border-radius: 8px;
        display: $default-display;
        align-items: center;
        gap: 10px;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    .contact__map {
        width: 40%;
        height: 100%;
        padding: 10% 0% 10% 0%;
        
        display: $default-display;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.additional-blocks {
    @extend %sections;

    background: none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;

    &__col {
        display: $default-display;
        flex-direction: column;
    }

    &__text {
        display: $default-display;
        flex-direction: row;
        font-size: 0.9rem;
        width: 100%;
    }

    &__title {
        padding-bottom: 20px;
        font-size: 1.5rem;
    }

    .additional-blocks__career, .additional-blocks__media-center {
        @extend %additional-blocks;
    }
}
