@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

// я так зрозуміла ці значення використовються для подальшої швидкої зміни теми в проєкті?
$background-color-body: #ECECEC;
$font-family: "Nunito Sans", sans-serif;
$default-color: #000000;
$default-display: flex;
$background-color-sections: #ffff;
$font-size-title:3.5rem;
$layout-breakpoint-small:600px;
$layout-breakpoint-medium: 1200px;

// для чого використовуються @mixin? і де краще його використовувати

%header-list {
    color: $default-color;
    list-style: none;

    display: $default-display;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

%sections {
    background-color: $background-color-sections;
    max-width: 94%;
    min-width: 94%;
    border-radius: 20px;

    display: $default-display;
    flex-direction: column;
    align-items: center;
}

%additional-blocks {
    background-color: $background-color-sections;
    padding: 6% 5% 4% 4%;
    width: 49.8%;
    gap: 10%;
    border-radius: 20px;
    display: $default-display;
    align-items: center;
}

%colum--wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

%button {
    color: white;
    background-color: $default-color;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
    display: $default-display;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    overflow: hidden;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: $background-color-body;
    color: $default-color;
    font-family: $font-family;
    display: $default-display;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin: 0;
    gap: 5px;
}

.header {
    @extend %sections;

    align-items: start;
    background:none;
}

.link {
    color: $default-color;
}

.breadcrumb {
    display: $default-display;
    align-items: center;
    padding-left: 5%;
    font-weight: 400;
    font-size: 0.8rem;
    &_items{
        @extend %header-list;
    }
    &__item {
        img{
            width: 16px;
            height: 16px;
        }
    }
    &__item::after {
        content: "/";
        padding: 0px 10px 0px 10px;
    }

    &__item:last-child::after {
        content: "";
    }
}

.contact {
    @extend %sections;
    @extend %colum--wrap;

    padding: 5% 4% 8% 3%;

    &__title {
        font-size: $font-size-title;
    }

    &__items {
        display: $default-display;
        color: $background-color-sections;
        padding-top: 30px;
        gap: 20px;
    }

    &__item {
        @extend %button;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    .contact__top, .contact__bottom {
        flex: 1 1 50%;
    }

    .contact__top {
        display: $default-display;
        flex-direction: column;
        align-self: flex-start;
        order: 1;
        gap: 20px
    }

    .contact__bottom {
        display: $default-display;
        flex-direction: column;
        align-self: flex-start;
        order: 3;
        gap: 10px;
    }

    .contact__map {
        padding-left: 7%;
        flex: 2 1 46%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        order: 2;
    
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        .contact__mark {
            display: none;
            justify-self: center;
        }
    }
}

.additional-blocks {
    @extend %sections;

    background: none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;

    &__col {
        display: $default-display;
        flex-direction: column;
    }

    &__text {
        display: $default-display;
        flex-direction: row;
        font-size: 0.9rem;
        width: 100%;
    }

    &__title {
        padding-bottom: 20px;
        font-size: 1.5rem;
    }

    &__img {
        max-width: 40%;
        max-height: 30%;
        min-width: 24%;
        min-height: 20%
    }

    .additional-blocks__career, .additional-blocks__media-center {
        @extend %additional-blocks;
    }
}

@media  (max-width: $layout-breakpoint-medium) {
    .contact {
        display: $default-display;
        flex-direction: column;
        align-content: flex-start;
        font-size: 0.87rem;
        padding: 5% 5% 5% 5%;
        gap: 35px;

        &__link--display-none {
            display: none;
        }

        &__title {
            font-size: 1.75rem;
        }

        .contact__top {
            order: 1;
        }
        .contact__bottom {
            order: 3;
        }

        .contact__map {
            padding-left: 0px;
            order: 2;
        }
    }
    .additional-blocks {
        padding-top: 32px;

        &__text--display-none {
            display: none;
        }
        .additional-blocks__career, .additional-blocks__media-center {
            @extend %additional-blocks;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 100%;
        }

        &__title::after {
            content: ">";
            padding: 0px 10px 0px 6px;
        }
    }
}

@media (max-width: $layout-breakpoint-small) {
    .additional-blocks {
        &__title {
            font-size: 0.87rem;
        }
    }
}
