@import "../styles/extends";

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.link {
    color: color(primary);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 64px;
}

.button--background-DBDBF2 {
    background-color: #DBDBF2;
    color: black !important;
}

.button--background-black {
    background-color: black;
    color: white;
}

.content--blue {
    background-color: #7BC7FA;
}

.content--green {
    background-color: #C3DB57;
}
.content--purple {
    background-color: #AE82F7;
}

.hidden {
    display: none;
  }

.header {
    @extend %sections;
    padding: 0;
    align-items: start;
    background:none;
}